<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script></script>
  </head>
  <body>
    coupon page
    <img src="/images/discount.PNG" width="250px" height="60px" />
    <form action="" method="POST">
      <input type="text" name="coupon" value="2000" hidden />
      <input type="text" name="couponid" value="1111" hidden />
      <input type="submit" value="다운받기" />
    </form>
  </body>
</html>
