<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <h3>찜 목록 PAGE</h3>
    <%for(let i=0; i<data.length; i++) {%> 
      
      <div><a href="/mainmenu/resmenu/<%=data[i].love_restaurant%>"><%=data[i].love_restaurant%></a></div>
<hr>
      <%}%>
  </body>
</html>
