<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>my page</h1>
    고마운분:<%=data[0].my_name%> 이메일:<%=data[0].my_mail%>
    <hr />
    /<span>
      <a href="/nav/point"
        ><img src="/images/point.PNG" width="50px" height="50px" /></a
    ></span>
    쿠폰함<span>
      <a href="/nav/coupon"
        ><img src="/images/coupon.PNG" width="50px" height="50px" /></a
    ></span>
    선물함<span
      ><a href="/nav/gift"
        ><img src="/images/gift.PNG" width="50px" height="50px" /></a
    ></span>
    찜한가게<span>
      <a href="/nav/love"
        ><img src="/images/love.PNG" width="50px" height="50px" /></a
    ></span>
    주문내역<span>
      <a href="/nav/paylist"
        ><img src="/images/payment.PNG" width="50px" height="50px" /></a
    ></span>
    리뷰관리<span>
      <a href="/nav/review"
        ><img src="/images/review.PNG" width="50px" height="50px" /></a
    ></span>
  </body>
</html>
